:root {
  color: black;
  background-color: #f0f0f0;
  --header-height: 8rem;
  --side-width: 20rem;
  font-family: Meiryo, sans-serif;
}

/* ┌─────────────────────────────────────────┐
   │ header                        │
   └─────────────────────────────────────────┘ */

.header_area {
  height: var(--header-height);
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  padding-left: 9.1rem;
}

.header_logo {
  width: 10rem;
  height: auto;
  margin-right: 6rem;
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header_link {
  color: black;
  font-size: 1.4rem;
}

/* お問い合わせ */
.header_button {
  width: 20rem;
  height: 100%;
  background-color: black;
  color: white;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ┌─────────────────────────────────────────┐
   │ メインビジュアル               │
   └─────────────────────────────────────────┘ */

.mainvisual_area {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

.mainvisual_area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ┌─────────────────────────────────────────┐
   │ ニュースエリア                       　　 │
   └─────────────────────────────────────────┘ */

.news_area {
  width: calc(100% - var(--side-width) * 2);
  height: 40rem;
  margin: 0 auto;
}

.news_flex {
  margin-top: 13rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.title_main {
  font-size: 3.6rem;
  letter-spacing: 1.08rem;
}

.news_lineUp {
  text-decoration: underline;
}

/* サブタイトル・ニュース */
.subTitle {
  font-size: 1.4rem;
  color: black;
  margin-bottom: 8em;

  position: relative;
}

.subTitle::before {
  content: "";
  position: absolute;
  top: 5rem;
  left: 0;

  width: 4rem;
  height: 0.1rem;
  background-color: black;
}

.news_list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.news_item {
  flex: 1;
  border-right: 0.1rem solid black;
}

.news_link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.news_date {
  font-size: 2rem;
  color: gray;

  position: relative;
}

.news_category {
  display: inline-block;
  margin: 0 0 1rem 2rem;

  font-size: 1.2rem;
}

.news_category a {
  font-size: 2rem;
  color: white;
  background-color: black;
}

.news_text {
  font-size: 1.6rem;
  line-height: 1.5;
  color: black;
}

/* ┌─────────────────────────────────────────┐
   │ ABOUTエリア                        │
   └─────────────────────────────────────────┘ */

.about_area {
  width: 100%;
  padding-right: 9.7rem;
  display: flex;
  justify-content: flex-start;
  gap: 7rem;
  margin-bottom: 13.4rem;
}
.title {
  margin-top: 13rem;
  font-size: 3.6rem;
  letter-spacing: 1.08rem;
}

.about_area img {
  width: 76rem;
  height: 40rem;
  object-fit: cover;
}

.about_textArea {
  padding-top: 5rem;
  width: 47.3rem;
}

.about_textArea p {
  font-size: 1.4rem;
  line-height: 2.2;
}

/* ┌─────────────────────────────────────────┐
   │ Businessエリア                        │
   └─────────────────────────────────────────┘ */

.business_area {
  width: calc(100% - var(--side-width) * 2);
  margin: 0 auto;
  margin-bottom: 22rem;
}

.business_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 14.4rem;
  column-gap: 6.4rem;
  row-gap: 8rem;
}

.business_item {
  width: 36.8rem;
  height: 23.2rem;
}

.business_item:nth-child(1),
.business_item:nth-child(3) {
  padding-top: 10rem;
}

.business_name {
  font-size: 1.4rem;

  line-height: 1.71;
}

.business_img {
  width: 36.8rem;
  height: 23.2rem;
  object-fit: cover;
}

/* ┌─────────────────────────────────────────┐
   │ COMPANY                     │
   └─────────────────────────────────────────┘ */
.company_area {
  width: calc(100% - var(--side-width) * 2);
  margin: 0 auto;
  padding-bottom: 11rem;
}

.company_info {
  width: 56.7rem;
  height: 64rem;
  background-color: white;

  padding-left: 6.2rem;

  position: relative;
}

.company_area .title {
  padding-top: 11rem;
}

.company_wrapper {
  display: flex;
  align-content: center;
  justify-content: flex-start;

  flex-wrap: wrap;
  row-gap: 1.7rem;
  font-size: 1.4rem;
}

.company_title {
  width: 20%;
}
.company_detail {
  width: 80%;
}

.company_img {
  width: 54.7rem;
  height: 40rem;

  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  right: -43.3rem;
}

/* ┌─────────────────────────────────────────┐
   │ フッター                        │
   └─────────────────────────────────────────┘ */

.footer_area {
  width: 100%;
  padding: 4.4rem var(--side-width) 0;

  background-color: white;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.3rem;
}

.footer_logo {
  width: 10.1rem;
  height: 2.6rem;
}

.footer_text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #000000;
}

.copyright {
  font-size: 1.2rem;
  color: #000000;
  line-height: 2;
  padding-bottom: 2.2rem;
}

/* ┌─────────────────────────────────────────┐
   │ ラインナップ                        │
   └─────────────────────────────────────────┘ */

.lineup_area {
  height: 70rem;
  padding-top: 10rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.lineup_title {
  font-size: 3.6rem;
}

.lineup_subTitle {
}
/* 【flex】ニュース一覧を縦に並べる */

.lineup_list {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.lineup_item {
  font-size: 1.5rem;
  height: 6rem;
  border-bottom: 0.1rem solid grey;
}

.lineup_date {
}

.lineup_category {
  margin-left: 2rem;
  background-color: black;
  color: white;
}

.lineup_text {
}
/* ┌─────────────────────────────────────────┐
   │ タブ遷移（アニメーション）                       │
   └─────────────────────────────────────────┘ */
.tab_list {
  position: relative; /* ← 線の基準点にする */
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab_btn {
  padding: 12px 24px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* 動く線 */
.tab_line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #000;
  transition:
    left 0.3s ease,
    width 0.3s ease; /* ← これが「スライド」の正体 */
}

/* 非表示のコンテンツ */
.tab_content {
  display: none;
}
.tab_content.is-show {
  display: block;
}
